asgiref==3.8.1
Brotli==1.1.0
click==8.1.7
dj-database-url==2.1.0
Django==5.0.4
django-bona-blog==1.1.4
django-ckeditor==6.7.1
django-crispy-forms==2.1
django-filter==24.2
django-js-asset==2.2.0
django-taggit==5.0.1
django-tinymce==4.0.0
djangorestframework==3.15.1
gunicorn==22.0.0
h11==0.14.0
packaging==24.0
pillow==10.3.0
psycopg2-binary==2.9.9
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.11.0
uvicorn==0.29.0
whitenoise==6.6.0
