{% extends "index.html" %} {% load static %} {% block content %} 

    <!--header section start-->
    <section class="hero-section ptb-100 gradient-overlay"
             style="background: url('assests/img/header-bg-5.html')no-repeat center center / cover">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-7">
                    <div class="page-header-content text-white text-center pt-sm-5 pt-md-5 pt-lg-0">
                        <h1 class="text-white mb-0">Careers</h1>
                        <div class="custom-breadcrumb">
                            <ol class="breadcrumb d-inline-block bg-transparent list-inline py-0">
                                <li class="list-inline-item breadcrumb-item"><a href="{% url "home_page" %}">Home</a></li>
                                <li class="list-inline-item breadcrumb-item active">Careers</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--header section end-->


    <!--services section start-->
    <section class="services-section ptb-100 gray-light-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="section-heading text-center mb-4">
                        <strong class="color-secondary">Explore opportunities</strong>
                        <h2>Discover your new career</h2>
                        <p class="lead">Come be part of our team with Inventics – bring your ideas and determination to make a difference. Join us and help our clients become the best versions of themselves.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for career in careers %}
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services-single text-center p-5 my-md-3 my-lg-3 my-sm-0 shadow-sm white-bg rounded">
                        <h5>{{career.position}}</h5>
                        <p class="mb-0">{{career.location}}</p>
                        <a href="{% url "career_detail" career.id %}" class="detail-link mt-4">Read more <span class="ti-arrow-right"></span></a>
                    </div>
                </div>   
                {% endfor %}
                            </div>
        </div>
    </section>
    <!--services section end-->
{% endblock content %}