{% extends "index.html" %} {% load static %} {% block content %}
    <!--header section start-->
    <section class="hero-section ptb-100 gradient-overlay"
             style="background: url('{% static "img/header-bg-5.jpg" %}')no-repeat center center / cover">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-7">
                    <div class="page-header-content text-white text-center pt-sm-5 pt-md-5 pt-lg-0">
                        <h1 class="text-white mb-0">About Us</h1>
                        <div class="custom-breadcrumb">
                            <ol class="breadcrumb d-inline-block bg-transparent list-inline py-0">
                                <li class="list-inline-item breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="list-inline-item breadcrumb-item active">About Us</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        <!--about us section start-->
        <section class="about-us-section ptb-100">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-12 col-lg-5">
                        <div class="about-us-content-wrap">
                            <h3>More than two decade of incredible service.</h3>
                            <span class="animate-border mb-4"></span>
                            <p>For over 20 years, we have been creating high-performance websites, apps, and software that deliver ultimate digital experiences for all size of companies.</p>
                            <p>We believe that creating customer-centric experiences based on UX best practices, market research, and user testing is the best way to achieve exceptional Results.</p>
                            <ul class="list-unstyled tech-feature-list">
                                <li class="py-1"><span class="ti-control-forward mr-2 color-secondary"></span><strong>Recognized</strong>
                                 Leaders in User Experience
                                </li>
                                <li class="py-1"><span class="ti-control-forward mr-2 color-secondary"></span><strong>Latest</strong>
                                 technology experts team
                                </li>
                                <li class="py-1"><span class="ti-control-forward mr-2 color-secondary"></span><strong>Presence</strong>
                                 in 4 countries
                                </li>
                                <li class="py-1"><span class="ti-control-forward mr-2 color-secondary"></span><strong>Aws™</strong>
                                 Certified Partner
                                </li>
                                <li class="py-1"><span class="ti-control-forward mr-2 color-secondary"></span><strong>Google™</strong>
                                Google™ Certified Partner
                                </li>
                            </ul>
                            <div class="row mt-4">
                                <div class="col-4">
                                    <div class="counter-single">
                                        <h2 class="mb-0 color-secondary">20+</h2>
                                        <strong>Years in Business</strong>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="counter-single">
                                        <h2 class="mb-0 color-secondary">550+</h2>
                                        <strong>Completed Projects</strong>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="counter-single">
                                        <h2 class="mb-0 color-secondary">109,890+</h2>
                                        <strong>Happy User Experiences</strong>
                                    </div>
                                </div>
    
                            </div>
                            
                            <div class="action-btns mt-4">
                                <a href="contact-us.html" class="btn secondary-solid-btn mr-3">Start Project Discussion</a>
                                <a href="project.html" class="btn secondary-outline-btn">Explore Our Work</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="card border-0 text-white">
                            <img src=" {% static "img/why-choose-us.png" %} " alt="video" class="img-fluid">
                            <!-- <div class="card-img-overlay text-center">
                                <a href="https://www.youtube.com/watch?v=9No-FiEInLA" class="popup-youtube video-play-icon color-bip shadow"><span class="ti-control-play"></span> </a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="promo-section ptb-100 gray-light-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <a href="#">
                            <div class="single-promo-2 single-promo-hover rounded text-center white-bg p-5 h-100">
                                <div class="circle-icon">
                                    <span class="ti-target text-white"></span>
                                </div>
                                <h5>Our Mission</h5>
                                <p>To provide end-to-end, industry leading and affordable digital transformation solutions to  businesses around the globe. </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <a href="#">
                            <div class="single-promo-2 single-promo-hover rounded text-center white-bg p-5 h-100">
                                <div class="circle-icon">
                                    <span class="ti-flag-alt text-white"></span>
                                </div>
                                <h5>Our Vision</h5>
                                <p>To be the number one partner of choice across the world for SMEs and Enterprises in their digital transformation journey. </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="team-single-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-12 ptb-100">
                        <div class="section-heading text-center">
                            <h2>Our Leaders</h2>
                            <span class="animate-border mr-auto ml-auto mb-4"></span>
                            <p class="lead">Our forward-looking leadership team is made up of experienced, focused, and dedicated executives.  Working with each other and our employees, their knowledge and experience come together to make a difference for all our clients.</p>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-12 col-sm-12">
                        <div class="row align-items-center">
                            <div class="col-md-12 col-sm-12 col-lg-5">
                                <div class="team-single-img">
                                    <img src="{% static "img/team/vineet.png" %}" alt="member" class="img-fluid rounded shadow-sm">
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-lg-7">
                                <div class="team-single-text">
                                    
                                    <div class="team-name mb-4">
                                        <h4 class="mb-1">Vineet Saraogi</h4>
                                        <span>Director & CEO</span>
                                    </div>
                                    <div class="text-content mt-20" style="text-align:justify">
                                        <p>Vineet is a strong believer of "Open Source" mindset and ecosystem. He has over 20 years of Cross functional experience across the value chains of Textiles, FMCG,Fresh, & Software development.
    
    He is an avid tech & trade enthusiast who believes that we have barely scratched the surface of automation. He is a part of ISPIRT(Govt. think tank) in the core team of OCEN (Open Credit Enablement Network) working closely with the RBI/Finance ministry to help democratise credit for MSME’s and the common man in our country.
    
    He is also core volunteer with EKAL Vidyalaya, which runs close to 1 lakh schools in the remote villages of India.</p>
                                    </div>
                                    
                                    <ul class="team-social-list list-inline mt-4">
                                        <li class="list-inline-item"><a href="#" class="color-primary"><span class="ti-facebook"></span></a></li>
                                        <li class="list-inline-item"><a href="#" class="color-primary"><span class="ti-instagram"></span></a></li>
                                        <li class="list-inline-item"><a href="#" class="color-primary"><span class="ti-dribbble"></span></a></li>
                                        <li class="list-inline-item"><a href="#" class="color-primary"><span class="ti-linkedin"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <hr class="my-5">
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="row align-items-center">
                            
                            <div class="col-md-12 col-sm-12 col-lg-7">
                                <div class="team-single-text">
                                    <div class="team-name mb-4">
                                        <h4 class="mb-1">Puneet R. Saharey</h4>
                                        <span>Director & CTO</span>
                                    </div>
                                    
                                    <div class="text-content mt-20" style="text-align:justify">
                                        <p>Performance driven IIIT grad with over 10 years of experience with Startups. Core technologist with proven leadership and team building skills coupled with leading change in complex and competitive business environment. Vast experience in mobile and cloud platforms design-build and deliver superior solutions to businesses presence across the globe.
    </p>
                                    </div>
                                    <ul class="team-social-list list-inline mt-4">
                                        <li class="list-inline-item"><a href="#" class="color-primary"><span class="ti-facebook"></span></a></li>
                                        <li class="list-inline-item"><a href="#" class="color-primary"><span class="ti-instagram"></span></a></li>
                                        <li class="list-inline-item"><a href="#" class="color-primary"><span class="ti-dribbble"></span></a></li>
                                        <li class="list-inline-item"><a href="#" class="color-primary"><span class="ti-linkedin"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-lg-5">
                                <div class="team-single-img">
                                    <img src=" {% static "img/team/puneet_in.jpg" %} " alt="member" class="img-fluid rounded shadow-sm">
                                </div>
                            </div>
                        </div>
                        <hr class="my-5">
                    </div> 
                   
                </div>
            </div>
        </section>
{% endblock content %}