{% extends "index.html" %} {% load static %}
 {% block content %}
<section class="hero-section ptb-100 gradient-overlay"
style="background: url('assets/img/header-bg-5.jpg')no-repeat center center / cover">
<div class="container">
<div class="row justify-content-center">
   <div class="col-md-8 col-lg-7">
       <div class="page-header-content text-white text-center pt-sm-5 pt-md-5 pt-lg-0">
           <h1 class="text-white mb-0">Contact Us</h1>
           <div class="custom-breadcrumb">
               <ol class="breadcrumb d-inline-block bg-transparent list-inline py-0">
                   <li class="list-inline-item breadcrumb-item"><a href="{% url "home_page" %}">Home</a></li>
                   <li class="list-inline-item breadcrumb-item active">Contact Us</li>
               </ol>
           </div>
       </div>
   </div>
</div>
</div>
</section>
<!--header section end-->
<!--contact us section start-->
<section class="contact-us-section ptb-100">
<div class="container contact">
<div class="col-12 pb-3 message-box d-none">
   <div class="alert alert-danger"></div>
</div>
<div class="row justify-content-around">
   <div class="col-md-6">
    <div id="contact_us_form"></div>
    <form method="post" class="appointment-form" onsubmit="contactForm(event)">
        {% csrf_token %}
        <div class="form-row">
            <div class="col">
              <input type="text" class="form-control" name="first_name" placeholder="First name" required>
            </div>
            <div class="col">
              <input type="text" class="form-control" name="last_name" placeholder="Last name" required>
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="col">
              <input type="email" class="form-control" name="email" placeholder="Email Address" required>
            </div>
            <div class="col">
                <input type="text" class="form-control" name="phone_number" placeholder="Phonenumber" required>
            </div>
        </div>
        <br/>
        <div class="form-row">
            <textarea name="message" id="" cols="30" rows="2" class="form-control"
            placeholder="Message"></textarea>
        </div>
        <br/>
        <button  type="submit" class="btn solid-white-btn check-btn">Submit</button>
      </form>
   </div>
   <div class="col-md-5">
       <div class="contact-us-content">
           <h2>Looking for a excellent Tech team?</h2>
           <p class="lead">We carefully understand your needs. Our expert team of developers that guarantee the success of your business with their expertise.</p> 
           <hr class="my-5">
           <div class="row mt-4">
               <div class="col-4">
                   <div class="counter-single">
                       <h2 class="mb-0 color-secondary">20+</h2>
                       <strong>Years in Business</strong>
                   </div>
               </div>
               <div class="col-4">
                   <div class="counter-single">
                       <h2 class="mb-0 color-secondary">550+</h2>
                       <strong>Completed Projects</strong>
                   </div>
               </div>
               <div class="col-4">
                   <div class="counter-single">
                       <h2 class="mb-0 color-secondary">109,890+</h2>
                       <strong>Happy User Experiences</strong>
                   </div>
               </div>

           </div>
       </div>
   </div>
</div>
</div>
</section>
<!--contact us section end-->
<!--contact us promo start-->
{% comment %} <section class="contact-us-promo  ptb-100">
<div class="container">
<div class="row">
<div class="col-lg-4 col-md-6 col-sm-6">
       <div class="card single-promo-card single-promo-hover text-center shadow-sm">
           <div class="card-body py-5">
               <div class="pb-2">
                   <span class="ti-location-pin icon-sm color-secondary"></span>
               </div>
               <div><h5 class="mb-0">INDIA</h5>
                   <p class="text-muted mb-0">SVVS Tower, NGR Layout,Bengaluru KA</p>
                   <p class="text-muted mb-0">+91 8299886767</p>
               </div>
           </div>
       </div>
   </div>
   <div class="col-lg-4 col-md-6 col-sm-6">
       <div class="card single-promo-card single-promo-hover text-center shadow-sm">
           <div class="card-body py-5">
               <div class="pb-2">
                   <span class="ti-location-pin icon-sm color-secondary"></span>
               </div>
               <div><h5 class="mb-0">INDIA</h5>
                   <p class="text-muted mb-0">B-1 / H-3, Mohan Estate, New Delhi</p>
                   <p class="text-muted mb-0">+91 9916225399</p>
               </div>
           </div>
       </div>
   </div>
   <div class="col-lg-4 col-md-6 col-sm-6">
       <div class="card single-promo-card single-promo-hover text-center shadow-sm">
           <div class="card-body py-5">
               <div class="pb-2">
                   <span class="ti-location-pin icon-sm color-secondary"></span>
               </div>
               <div><h5 class="mb-0">INDIA</h5>
                   <p class="text-muted mb-0">B26 Sector C, Aliganj, Lucknow U.P.</p>
                   <p class="text-muted mb-0">+91 98891 39618</p>
               </div>
           </div>
       </div>
   </div>
   <p class="ptb-100"></p>
   <div class="col-lg-4 col-md-6 col-sm-6">
       <div class="card single-promo-card single-promo-hover text-center shadow-sm">
           <div class="card-body py-5">
               <div class="pb-2">
                   <span class="ti-location-pin icon-sm color-secondary"></span>
               </div>
               <div><h5 class="mb-0">SINGAPORE</h5>
                   <p class="text-muted mb-0">#8-04, 21 butterworth lane</p>
                   <p class="text-muted mb-0">+65 8269 5037</p>
               </div>
           </div>
       </div>
   </div>
   <div class="col-lg-4 col-md-6 col-sm-6">
       <div class="card single-promo-card single-promo-hover text-center shadow-sm">
           <div class="card-body py-5">
               <div class="pb-2">
                   <span class="ti-location-pin icon-sm color-secondary"></span>
               </div>
               <div><h5 class="mb-0">SWEDEN</h5>
                   <p class="text-muted mb-0">Limhamn, Malmö</p>
                   <p class="text-muted mb-0">+46 72 169 68 76</p>
               </div>
           </div>
       </div>
   </div>
   <div class="col-lg-4 col-md-6 col-sm-6">
       <div class="card single-promo-card single-promo-hover text-center shadow-sm">
           <div class="card-body py-5">
               <div class="pb-2">
                   <span class="ti-location-pin icon-sm color-secondary"></span>
               </div>
               <div><h5 class="mb-0">DUBAI</h5>
                   <p class="text-muted mb-0">Baniyas Square, 27th Street, Deira</p>
                   <p class="text-muted mb-0">+971 50 214 7455</p>
               </div>
           </div>
       </div>
   </div>
   
</div>
</div>
</section> {% endcomment %}
<!--contact us promo end-->
<script>
    function contactForm(event) {
        event.preventDefault();
        var formData = $('.appointment-form').serialize();
        
        $.ajax({
            type: 'POST',
            url: {% url "contact_us_view" %},
            data: formData,
            success: function (response) {
                $('.contact-error-message').remove();
                if (response.status === 201) {
                    $('#contact_us_form').html(`
                    <div class="alert alert-success" role="alert">
                        ${response.message}
                    </div>
                    `);
                    
                    // Reset the form
                    document.querySelector('.appointment-form').reset();
                    
                    setTimeout(function () {
                        $('#contact_us_form').fadeOut('slow');
                    }, 4000);
                } else if (response.status === 400 && response.errors) {
                    $.each(response.errors, function (field, error) {
                        var inputField = $('[name="' + field + '"]');
                        inputField.after('<div class="contact-error-message text-danger">' + error + '</div>');
                    });
                } else {
                    console.error("Something Went Wrong");
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>
{% endblock content %}
        